{% extends "base.html" %}

{% block content %}
    <h1> BIBLUS DATA </h1>
    <table>
        <thead>
            <tr>
                {% for header in headers %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for i in book_list %}
            <tr>
                {% for g in i %}
                <td>{{ g }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}